In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

# Data

In [2]:
rossman=pd.read_csv("D:/Datasets/Rossmann_Data/train.csv")

C:\Users\bahad\anaconda3\envs\r-tutorial\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
rossman["Date"]=pd.to_datetime(rossman["Date"])

In [4]:
rossman.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 69.8+ MB

In [5]:
rossman.Store.max()

1115

In [6]:
rossman.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

## Dummy Encoding

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
hot_encoder=OneHotEncoder()

### State Holidays

In [9]:
rossman["StateHoliday"].value_counts()

0    855087
0    131072
a     20260
b      6690
c      4100
Name: StateHoliday, dtype: int64

In [10]:
rossman["StateHoliday"]=rossman["StateHoliday"].astype(str)
encoded_stateholidays=hot_encoder.fit_transform(rossman[["StateHoliday"]])
array_stateholidays=encoded_stateholidays.toarray()
state_df=pd.DataFrame(array_stateholidays,columns=["0", "A", "B", "C"])

In [11]:
state_df.value_counts()

0    A    B    C
1.0  0.0  0.0  0.0    986159
0.0  1.0  0.0  0.0     20260
     0.0  1.0  0.0      6690
          0.0  1.0      4100
dtype: int64

### Weekdays

In [12]:
rossman["DayOfWeek"].value_counts()

5    145845
4    145845
3    145665
2    145664
7    144730
6    144730
1    144730
Name: DayOfWeek, dtype: int64

In [13]:
encoded_weekdays=hot_encoder.fit_transform(rossman[["DayOfWeek"]])
array_weekdays=encoded_weekdays.toarray()
weekday_df=pd.DataFrame(array_weekdays,columns=["Monday", "Tuesday", "Wednesday", "Thursday","Friday","Saturday","Sunday"])

In [14]:
weekday_df.value_counts()

Monday  Tuesday  Wednesday  Thursday  Friday  Saturday  Sunday
0.0     0.0      0.0        1.0       0.0     0.0       0.0       145845
                            0.0       1.0     0.0       0.0       145845
                 1.0        0.0       0.0     0.0       0.0       145665
        1.0      0.0        0.0       0.0     0.0       0.0       145664
1.0     0.0      0.0        0.0       0.0     0.0       0.0       144730
0.0     0.0      0.0        0.0       0.0     1.0       0.0       144730
                                              0.0       1.0       144730
dtype: int64

## Concatenated dataframe

In [15]:
frames = [rossman, state_df, weekday_df]
rossman_concat=pd.concat(frames, axis=1)

In [16]:
rossman_concat.describe()

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday,0,A,B,C,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.584297e+02,3.998341e+00,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01,9.694753e-01,1.991724e-02,6.576820e-03,4.030637e-03,1.422815e-01,1.431997e-01,1.432007e-01,1.433776e-01,1.433776e-01,1.422815e-01,1.422815e-01
std,3.219087e+02,1.997391e+00,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01,1.720261e-01,1.397160e-01,8.083051e-02,6.335925e-02,3.493388e-01,3.502765e-01,3.502775e-01,3.504577e-01,3.504577e-01,3.493388e-01,3.493388e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.800000e+02,2.000000e+00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,5.580000e+02,4.000000e+00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,8.380000e+02,6.000000e+00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.115000e+03,7.000000e+00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

# Performance Function

In [17]:
def performance_list(ID,actual,forecast):
    name=ID
    n=len(actual)
    error=actual-forecast
    mean=np.mean(actual)
    sd=actual.std()
    FBias=sum(error)/sum(actual)
    MPE=sum(error/actual)/n
    MAPE=sum(abs(error/actual))/n
    RMSE=np.sqrt(sum(error**2))/n
    MAD=sum(abs(error))/n
    WMAPE=MAD/mean
    result_df=pd.DataFrame({"Name" :       name ,
                            "# of inst":       n,
                            "Mean":         mean,
                            "Standard Dev.":  sd, 
                            "FBias":       FBias, 
                            "MPE":           MPE, 
                            "MAPE":         MAPE,                                      
                            "RMSE":         RMSE, 
                            "MAD":           MAD, 
                            "WMAPE":      WMAPE}, index=[0])
    return(result_df)

# Store and Dataset Selection

In [18]:
def store_selection(dataset, store_num):
    selected_store=dataset[dataset["Store"]==store_num].copy()
    selected_store.sort_values(by=["Date"], inplace=True)
    selected_store.reset_index(drop=True, inplace=True)
    selected_store.head(20)
    return selected_store

In [19]:
def Splitting_data(dataset, ratio):
    interval=dataset.Date.max()-dataset.Date.min()
    day_int=interval*ratio
    Train=dataset[dataset["Date"]<(dataset.Date.max()-day_int)]
    Test=dataset[dataset["Date"]>=(dataset.Date.max()-day_int)]
    return Train, Test

### Train & Test

In [20]:
store1=store_selection(rossman_concat, 2)
train1_initial, test1_initial=Splitting_data(store1, 0.2)

### Date and Customer Drop

In [21]:
train=train1_initial.drop(["Date", "Customers","Store","DayOfWeek","StateHoliday"], axis=1)
test=test1_initial.drop(["Date", "Customers","Store","DayOfWeek","StateHoliday"], axis=1)

In [22]:
X_train, y_train=train.drop(["Sales"], axis=1), train["Sales"]
X_test, y_test=test.drop(["Sales"], axis=1), test["Sales"]

# Linear Regression-Elastic Net

In [23]:
from sklearn.linear_model import ElasticNet

In [24]:
elastic_net = ElasticNet(alpha=0.1, l1_ratio=0.5)
elastic_net.fit(X_train, y_train)

ElasticNet(alpha=0.1)

In [25]:
elastic_predictions=elastic_net.predict(X_test)

In [26]:
res_elastic=performance_list("Elastic Net Performance", elastic_predictions, y_test)

In [27]:
res_elastic

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,Elastic Net Performance,189,4141.000331,1923.423082,-0.003414,0.149593,0.257169,56.013717,537.147472,0.129714

# Support Vector Machines

### Linear

In [28]:
from sklearn.svm import LinearSVR

In [29]:
sv_regressor=LinearSVR(epsilon=1)
sv_regressor.fit(X_train, y_train)

LinearSVR(epsilon=1)

### Poly with Kernel

In [30]:
from sklearn.svm import SVR

In [31]:
sv_regressor_poly=SVR(kernel="poly", degree=2, C=50, epsilon=0.05)
sv_regressor_poly.fit(X_train, y_train)

SVR(C=50, degree=2, epsilon=0.05, kernel='poly')

### Predictions

In [32]:
svm_predictions_linear=sv_regressor.predict(X_test)

In [33]:
res_svr_linear=performance_list("Support Vector Regressor Linear Performance", svm_predictions_linear, y_test)

In [34]:
svm_predictions_poly=sv_regressor_poly.predict(X_test)

In [35]:
res_svr_poly=performance_list("Support Vector Regressor Polynomial Performance", svm_predictions_poly, y_test)

### Results

In [36]:
res_svr_linear

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,Support Vector Regressor Linear Performance,189,1724.857143,404.654946,-1.408975,-1.163496,1.50212,228.407312,2730.174603,1.582841

In [37]:
res_svr_poly

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,Support Vector Regressor Polynomial Performance,189,3974.705062,2073.627025,-0.045395,0.126013,0.249505,50.121376,409.958727,0.103142

# Random Forest

In [38]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

### Grid

In [39]:
param_grid=[
    {"n_estimators":[100,200,300,400,500], "max_features":[2,4,6],
     "bootstrap":[False,True]}
]

In [40]:
random_reg=RandomForestRegressor()
grid_search = GridSearchCV(estimator=random_reg, param_grid=param_grid,
                 cv=5,return_train_score=True)

### Predictions

In [41]:
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(),
             param_grid=[{'bootstrap': [False, True], 'max_features': [2, 4, 6],
                          'n_estimators': [100, 200, 300, 400, 500]}],
             return_train_score=True)

In [42]:
grid_search.best_params_

{'bootstrap': False, 'max_features': 6, 'n_estimators': 500}

### Results

In [43]:
rf_predictions=grid_search.predict(X_test)

In [44]:
res_rf=performance_list("Random Forest Performance", rf_predictions, y_test)

In [45]:
res_rf

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,Random Forest Performance,189,4134.982683,2279.665782,-0.004874,NaN,NaN,43.617145,359.742988,0.087

# Feature Extraction

In [46]:
from sklearn.tree import DecisionTreeRegressor

### Train Node Selection

In [47]:
estimator = DecisionTreeRegressor(min_samples_leaf=10, max_depth=5)
estimator.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=5, min_samples_leaf=10)

In [48]:
on_leaf = estimator.apply(X_train)

In [49]:
X_train_ext=X_train[:]

In [50]:
X_train_ext["Node"] = on_leaf.tolist()

C:\Users\bahad\anaconda3\envs\r-tutorial\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [51]:
X_train_ext

,Open,Promo,SchoolHoliday,0,A,B,C,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Node
0,0,0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
1,1,0,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,10
2,1,0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7
3,1,0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,7
4,1,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,1,0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6
749,1,0,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,6
750,1,0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,9
751,1,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,6
752,1,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,6

### Test Node Selection

In [52]:
on_leaf_test = estimator.apply(X_test)

In [53]:
X_test_ext=X_test[:]

In [54]:
X_test_ext["Node"] = on_leaf_test.tolist()

C:\Users\bahad\anaconda3\envs\r-tutorial\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
X_test_ext

,Open,Promo,SchoolHoliday,0,A,B,C,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Node
753,1,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,11
754,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
755,1,1,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,21
756,1,1,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,15
757,1,1,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
937,1,1,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,22
938,1,1,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,15
939,1,1,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,15
940,1,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,16
941,1,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,19

### Feature Adding

Ma=1 kullanÄ±ldÄ± daha hÄ±zlÄ± bir ÅŸekilde anlaÅŸÄ±lmasÄ± iÃ§in

In [56]:
Xframes_feature=[X_train_ext, X_test_ext]
yframes_feature=[y_train, y_test]
X_concat=pd.concat(Xframes_feature)
Y_concat=pd.concat(yframes_feature)
final_frame=[X_concat, Y_concat]
concated_df=pd.concat(final_frame, axis=1)

In [57]:
concated_df["new_feature"] = concated_df.groupby(["Node"])["Sales"].shift(+1)

In [58]:
X_test_new=concated_df.iloc[len(X_train):].drop(["Sales","Node"], axis=1)

y_test_new=concated_df.iloc[len(X_train):]["new_feature"]

In [59]:
train_new=concated_df.iloc[:len(X_train)]

In [60]:
train_new.dropna(inplace=True);
train_new.reset_index(drop=True, inplace=True)

C:\Users\bahad\anaconda3\envs\r-tutorial\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [61]:
X_train_new=train_new.drop(["Sales","Node"], axis=1)

y_train_new=train_new["new_feature"]

## Short Prediction Quality

### Elastic Net

In [62]:
elastic_net_new = ElasticNet(alpha=0.1, l1_ratio=0.5)
elastic_net_new.fit(X_train_new, y_train_new)

ElasticNet(alpha=0.1)

In [63]:
elastic_predictions_new=elastic_net_new.predict(X_test_new)

res_elastic_new=performance_list("Elastic Net Performance with Feature Extraction", elastic_predictions_new, y_test_new)

res_elastic_new

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,Elastic Net Performance with Feature Extraction,189,4130.68783,2347.563958,-9.695749e-11,0.169312,0.169312,0.000003,0.000033,7.942154e-09

### SVM

#### Linear

In [64]:
sv_regressor_new=LinearSVR(epsilon=1)
sv_regressor_new.fit(X_train_new, y_train_new)

C:\Users\bahad\anaconda3\envs\r-tutorial\lib\site-packages\sklearn\svm\_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVR(epsilon=1)

In [65]:
svm_predictions_new=sv_regressor_new.predict(X_test_new)

res_svr_new=performance_list("SVR Linear Performance with Feature Extraction", 
                                svm_predictions_new, y_test_new)

res_svr_new

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,SVR Linear Performance with Feature Extraction,189,4130.199975,2347.286447,-0.000118,0.169214,0.16941,0.040827,0.488004,0.000118

#### Poly

In [66]:
sv_regressor_poly_new=SVR(kernel="poly", degree=2, C=50, epsilon=0.05)
sv_regressor_poly_new.fit(X_train_new, y_train_new)

SVR(C=50, degree=2, epsilon=0.05, kernel='poly')

In [67]:
svm_predictions_poly_new=sv_regressor_poly_new.predict(X_test_new)

res_svr_poly_new=performance_list("SVR Polynomail Performance with Feature Extraction", 
                                svm_predictions_poly_new, y_test_new)

res_svr_poly_new

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,SVR Polynomail Performance with Feature Extrac...,189,4556.19991,1881.026758,0.093392,0.174381,0.202862,72.169898,555.81941,0.121992

### Random Forest

In [68]:
random_reg_new=RandomForestRegressor()
grid_search_new = GridSearchCV(estimator=random_reg_new, param_grid=param_grid,
                 cv=5,return_train_score=True)

In [69]:
grid_search_new.fit(X_train_new, y_train_new)

grid_search_new.best_params_

{'bootstrap': False, 'max_features': 6, 'n_estimators': 200}

In [70]:
rf_predictions_new=grid_search_new.predict(X_test_new)

res_rf_new=performance_list("Random Forest Performance with Feature Extraction", rf_predictions_new, y_test_new)

res_rf_new

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,Random Forest Performance with Feature Extraction,189,4126.146296,2332.019778,-0.001101,NaN,NaN,5.208999,25.192593,0.006106

# General Result Table

In [71]:
pd.options.display.float_format = '{:,.8f}'.format

In [72]:
result_frames=[res_elastic,res_svr_linear,res_svr_poly,res_rf, res_elastic_new,res_svr_new,res_svr_poly_new,res_rf_new]
total_result=pd.concat(result_frames)
total_result.reset_index(drop=True, inplace=True)

In [73]:
total_result

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,Elastic Net Performance,189,"4,141.00033091","1,923.42308249",-0.00341397,0.14959251,0.25716853,56.01371713,537.14747215,0.12971442
1,Support Vector Regressor Linear Performance,189,"1,724.85714286",404.65494572,-1.40897490,-1.16349594,1.50212028,228.40731230,"2,730.17460317",1.58284100
2,Support Vector Regressor Polynomial Performance,189,"3,974.70506179","2,073.62702474",-0.04539519,0.12601338,0.24950465,50.12137594,409.95872659,0.10314192
3,Random Forest Performance,189,"4,134.98268315","2,279.66578250",-0.00487424,nan,nan,43.61714496,359.74298771,0.08699988
4,Elastic Net Performance with Feature Extraction,189,"4,130.68783029","2,347.56395800",-0.00000000,0.16931217,0.16931217,0.00000304,0.00003281,0.00000001
5,SVR Linear Performance with Feature Extraction,189,"4,130.19997516","2,347.28644694",-0.00011812,0.16921405,0.16941029,0.04082733,0.48800357,0.00011815
6,SVR Polynomail Performance with Feature Extrac...,189,"4,556.19991027","1,881.02675767",0.09339188,0.17438124,0.20286211,72.16989824,555.81940971,0.12199188
7,Random Forest Performance with Feature Extraction,189,"4,126.14629630","2,332.01977796",-0.00110067,nan,nan,5.20899932,25.19259259,0.00610560

## SVR polynomial Overfitting

In [74]:
svm_control=sv_regressor_poly.predict(X_train)

performance_list("SVR Performance without Feature Extraction",svm_control, y_train)

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,SVR Performance without Feature Extraction,753,"3,950.66299936","2,051.38884662",-0.04157783,0.12882075,0.26538052,29.39444373,486.31253208,0.12309644

In [75]:
svm_control_feature=sv_regressor_poly_new.predict(X_train_new)

performance_list("SVR Performance with Feature Extraction", svm_control_feature, y_train_new)

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,SVR Performance with Feature Extraction,741,"4,547.86253657","1,932.07349651",0.09667342,0.17751001,0.20747701,36.85029123,577.14605065,0.12690490

# General Function

In [ ]:
def result_obtain(df, feature_set):

# Lagged Models

In [108]:
Xframes_feature=[X_train, X_test]
yframes_feature=[y_train, y_test]
X_concat=pd.concat(Xframes_feature)
Y_concat=pd.concat(yframes_feature)
final_frame=[X_concat, Y_concat]
lagged_df=pd.concat(final_frame, axis=1)

In [109]:
lagged_df["lag1"] = lagged_df["Sales"].shift(+1)
lag1_df=lagged_df

In [117]:
lag1_train=lag1_df.iloc[:len(X_train)]

lag1_train.dropna(inplace=True);
lag1_train.reset_index(drop=True, inplace=True)
lag1_train.index += 1

X_train_lag1=lag1_train.iloc[:len(X_train)].drop(["Sales"], axis=1)

y_train_lag1=lag1_train.iloc[:len(X_train)]["Sales"]

C:\Users\bahad\anaconda3\envs\r-tutorial\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [111]:
X_test_lag1=lag1_df.iloc[len(X_train):].drop(["Sales"], axis=1)

y_test_lag1=lag1_df.iloc[len(X_train):]["Sales"]

### Elastic Net

In [124]:
elastic_net_lag1 = ElasticNet(alpha=0.1, l1_ratio=0.5)
elastic_net_lag1.fit(X_train_lag1, y_train_lag1)

ElasticNet(alpha=0.1)

In [126]:
elastic_predictions_lag1=elastic_net_new.predict(X_test_lag1)

res_elastic_lag1=performance_list("Elastic Net Performance with Lag1", elastic_predictions_lag1, y_test_lag1)

res_elastic_lag1

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,Elastic Net Performance with Lag1,189,"4,142.13154605","1,923.98770006",-0.00313993,0.14884310,0.25818384,56.49581093,541.26155075,0.13067223

### SVM

#### Linear

In [127]:
sv_regressor_lag1=LinearSVR(epsilon=1)
sv_regressor_lag1.fit(X_train_lag1, y_train_lag1)

C:\Users\bahad\anaconda3\envs\r-tutorial\lib\site-packages\sklearn\svm\_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVR(epsilon=1)

In [128]:
svm_predictions_lag1=sv_regressor_new.predict(X_test_lag1)

res_svr_lag1=performance_list("SVR Linear Performance with Lag1", 
                                svm_predictions_lag1, y_test_lag1)

res_svr_lag1

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,SVR Linear Performance with Lag1,189,"4,139.52691421","2,344.92710002",-0.00377112,"-1,244,058.91023647","1,244,059.43150302",212.84135522,"2,068.87831536",0.49978617

#### Poly

In [129]:
sv_regressor_poly_lag1=SVR(kernel="poly", degree=2, C=50, epsilon=0.05)
sv_regressor_poly_lag1.fit(X_train_lag1, y_train_lag1)

SVR(C=50, degree=2, epsilon=0.05, kernel='poly')

In [130]:
svm_predictions_poly_lag1=sv_regressor_poly_new.predict(X_test_lag1)

res_svr_poly_lag1=performance_list("SVR Polynomail Performance with Lag1", 
                                svm_predictions_poly_lag1, y_test_lag1)

res_svr_poly_lag1

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,SVR Polynomail Performance with Lag1,189,"4,562.86621008","1,878.75406085",0.08935801,-0.01418579,0.53136129,173.39212876,"1,784.11749944",0.39100807

### Random Forest

In [131]:
random_reg_lag1=RandomForestRegressor()
grid_search_lag1 = GridSearchCV(estimator=random_reg_lag1, param_grid=param_grid,
                 cv=5,return_train_score=True)

In [133]:
grid_search_lag1.fit(X_train_lag1, y_train_lag1)

grid_search_lag1.best_params_

{'bootstrap': True, 'max_features': 6, 'n_estimators': 100}

In [134]:
rf_predictions_lag1=grid_search_new.predict(X_test_lag1)

res_rf_lag1=performance_list("Random Forest Performance with Lag1", rf_predictions_lag1, y_test_lag1)

res_rf_lag1

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,Random Forest Performance with Lag1,189,"4,130.34050265","2,141.38682610",-0.00600364,nan,nan,133.75886889,"1,343.22891534",0.32521021

# General Result Table

In [135]:
pd.options.display.float_format = '{:,.8f}'.format

In [139]:
result_frames_lag1=[total_result, res_elastic_lag1,res_svr_lag1,res_svr_poly_lag1,res_rf_lag1]
total_result_new=pd.concat(result_frames_lag1)

In [140]:
total_result_new

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,Elastic Net Performance,189,"4,141.00033091","1,923.42308249",-0.00341397,0.14959251,0.25716853,56.01371713,537.14747215,0.12971442
0,Support Vector Regressor Linear Performance,189,"1,724.85714286",404.65494572,-1.40897490,-1.16349594,1.50212028,228.40731230,"2,730.17460317",1.58284100
0,Support Vector Regressor Polynomial Performance,189,"3,974.70506179","2,073.62702474",-0.04539519,0.12601338,0.24950465,50.12137594,409.95872659,0.10314192
0,Random Forest Performance,189,"4,134.98268315","2,279.66578250",-0.00487424,nan,nan,43.61714496,359.74298771,0.08699988
0,Elastic Net Performance with Feature Extraction,189,"4,130.68783029","2,347.56395800",-0.00000000,0.16931217,0.16931217,0.00000304,0.00003281,0.00000001
0,SVR Linear Performance with Feature Extraction,189,"4,130.19997516","2,347.28644694",-0.00011812,0.16921405,0.16941029,0.04082733,0.48800357,0.00011815
0,SVR Polynomail Performance with Feature Extrac...,189,"4,556.19991027","1,881.02675767",0.09339188,0.17438124,0.20286211,72.16989824,555.81940971,0.12199188
0,Random Forest Performance with Feature Extraction,189,"4,126.14629630","2,332.01977796",-0.00110067,nan,nan,5.20899932,25.19259259,0.00610560
0,Elastic Net Performance with Lag1,189,"4,142.13154605","1,923.98770006",-0.00313993,0.14884310,0.25818384,56.49581093,541.26155075,0.13067223
0,SVR Linear Performance with Lag1,189,"4,139.52691421","2,344.92710002",-0.00377112,"-1,244,058.91023647","1,244,059.43150302",212.84135522,"2,068.87831536",0.49978617
0,SVR Polynomail Performance with Lag1,189,"4,562.86621008","1,878.75406085",0.08935801,-0.01418579,0.53136129,173.39212876,"1,784.11749944",0.39100807
0,Random Forest Performance with Lag1,189,"4,130.34050265","2,141.38682610",-0.00600364,nan,nan,133.75886889,"1,343.22891534",0.32521021

# Deep Learning Codes