In [2]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

# Data

In [3]:
rossman=pd.read_csv("D:/Datasets/Rossmann_Data/train.csv")

C:\Users\bahad\anaconda3\envs\r-tutorial\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
rossman["Date"]=pd.to_datetime(rossman["Date"])

In [5]:
rossman.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 69.8+ MB

In [6]:
rossman.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

## Dummy Encoding

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
hot_encoder=OneHotEncoder()

### State Holidays

In [9]:
rossman["StateHoliday"].value_counts()

0    855087
0    131072
a     20260
b      6690
c      4100
Name: StateHoliday, dtype: int64

In [10]:
rossman["StateHoliday"]=rossman["StateHoliday"].astype(str)
encoded_stateholidays=hot_encoder.fit_transform(rossman[["StateHoliday"]])
array_stateholidays=encoded_stateholidays.toarray()
state_df=pd.DataFrame(array_stateholidays,columns=["0", "A", "B", "C"])

In [11]:
state_df.value_counts()

0    A    B    C
1.0  0.0  0.0  0.0    986159
0.0  1.0  0.0  0.0     20260
     0.0  1.0  0.0      6690
          0.0  1.0      4100
dtype: int64

### Weekdays

In [12]:
rossman["DayOfWeek"].value_counts()

5    145845
4    145845
3    145665
2    145664
7    144730
6    144730
1    144730
Name: DayOfWeek, dtype: int64

In [13]:
encoded_weekdays=hot_encoder.fit_transform(rossman[["DayOfWeek"]])
array_weekdays=encoded_weekdays.toarray()
weekday_df=pd.DataFrame(array_weekdays,columns=["Monday", "Tuesday", "Wednesday", "Thursday","Friday","Saturday","Sunday"])

In [14]:
weekday_df.value_counts()

Monday  Tuesday  Wednesday  Thursday  Friday  Saturday  Sunday
0.0     0.0      0.0        1.0       0.0     0.0       0.0       145845
                            0.0       1.0     0.0       0.0       145845
                 1.0        0.0       0.0     0.0       0.0       145665
        1.0      0.0        0.0       0.0     0.0       0.0       145664
1.0     0.0      0.0        0.0       0.0     0.0       0.0       144730
0.0     0.0      0.0        0.0       0.0     1.0       0.0       144730
                                              0.0       1.0       144730
dtype: int64

## Concatenated dataframe

In [15]:
frames = [rossman, state_df, weekday_df]
rossman_concat=pd.concat(frames, axis=1)

In [16]:
rossman_concat.describe()

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday,0,A,B,C,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.584297e+02,3.998341e+00,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01,9.694753e-01,1.991724e-02,6.576820e-03,4.030637e-03,1.422815e-01,1.431997e-01,1.432007e-01,1.433776e-01,1.433776e-01,1.422815e-01,1.422815e-01
std,3.219087e+02,1.997391e+00,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01,1.720261e-01,1.397160e-01,8.083051e-02,6.335925e-02,3.493388e-01,3.502765e-01,3.502775e-01,3.504577e-01,3.504577e-01,3.493388e-01,3.493388e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.800000e+02,2.000000e+00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,5.580000e+02,4.000000e+00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,8.380000e+02,6.000000e+00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.115000e+03,7.000000e+00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

# Performance Function

In [148]:
def performance_list(ID,actual,forecast):
    name=ID
    n=len(actual)
    error=actual-forecast
    mean=np.mean(actual)
    sd=actual.std()
    FBias=sum(error)/sum(actual)
    MPE=sum(error/actual)/n
    MAPE=sum(abs(error/actual))/n
    RMSE=np.sqrt(sum(error**2))/n
    MAD=sum(abs(error))/n
    WMAPE=MAD/mean
    result_df=pd.DataFrame({"Name" :       name ,
                            "# of inst":       n,
                            "Mean":         mean,
                            "Standard Dev.":  sd, 
                            "FBias":       FBias, 
                            "MPE":           MPE, 
                            "MAPE":         MAPE,                                      
                            "RMSE":         RMSE, 
                            "MAD":           MAD, 
                            "WMAPE":      WMAPE}, index=[0])
    return(result_df)

# Store and Dataset Selection

In [62]:
def store_selection(dataset, store_num):
    selected_store=dataset[dataset["Store"]==store_num].copy()
    selected_store.sort_values(by=["Date"], inplace=True)
    selected_store.reset_index(drop=True, inplace=True)
    selected_store.head(20)
    return selected_store

In [75]:
def Splitting_data(dataset, ratio):
    interval=dataset.Date.max()-dataset.Date.min()
    day_int=interval*ratio
    Train=dataset[dataset["Date"]<(dataset.Date.max()-day_int)]
    Test=dataset[dataset["Date"]>=(dataset.Date.max()-day_int)]
    return Train, Test

### Train & Test

In [97]:
store1=store_selection(rossman_concat, 1)
train1_initial, test1_initial=Splitting_data(store1, 0.2)

### Date and Customer Drop

In [104]:
train=train1_initial.drop(["Date", "Customers","Store","DayOfWeek","StateHoliday"], axis=1)
test=test1_initial.drop(["Date", "Customers","Store","DayOfWeek","StateHoliday"], axis=1)

In [108]:
X_train, y_train=train.drop(["Sales"], axis=1), train["Sales"]
X_test, y_test=test.drop(["Sales"], axis=1), test["Sales"]

# Linear Regression-Elastic Net

In [89]:
from sklearn.linear_model import ElasticNet

In [109]:
elastic_net = ElasticNet(alpha=0.1, l1_ratio=0.5)
elastic_net.fit(X_train, y_train)

ElasticNet(alpha=0.1)

In [149]:
elastic_predictions=elastic_net.predict(X_test)

In [150]:
res_elastic=performance_list("Elastic Net Performance", elastic_predictions, y_test)

In [151]:
res_elastic

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,Elastic Net Performance,189,4012.049205,1609.679886,0.066895,0.207765,0.25979,47.380683,521.128951,0.129891

# Support Vector Machines

### Linear

In [152]:
from sklearn.svm import LinearSVR

In [177]:
sv_regressor=LinearSVR(epsilon=1)
sv_regressor.fit(X_train, y_train)

LinearSVR()

### Poly with Kernel

In [182]:
from sklearn.svm import SVR

In [201]:
sv_regressor_poly=SVR(kernel="poly", degree=2, C=50, epsilon=0.05)
sv_regressor_poly.fit(X_train, y_train)

SVR(C=50, degree=2, epsilon=0.05, kernel='poly')

### Predictions

In [202]:
svm_predictions_linear=sv_regressor.predict(X_test)

In [203]:
res_svr_linear=performance_list("Support Vector Regressor Linear Performance", svm_predictions_linear, y_test)

In [204]:
svm_predictions_poly=sv_regressor_poly.predict(X_test)

In [205]:
res_svr_poly=performance_list("Support Vector Regressor Polynomial Performance", svm_predictions_poly, y_test)

### Results

In [206]:
res_svr_linear

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,Support Vector Regressor Linear Performance,189,1703.084656,399.773154,-1.198165,-0.989375,1.338582,184.344699,2349.328042,1.379455

In [207]:
res_svr_poly

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,Support Vector Regressor Polynomial Performance,189,3810.141062,1745.683754,0.017448,0.180755,0.252733,40.544141,398.325296,0.104543

# Random Forest

In [208]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

### Grid

In [209]:
param_grid=[
    {"n_estimators":[100,200,300,400,500], "max_features":[2,4,6],
     "bootstrap":[False,True]}
]

In [210]:
random_reg=RandomForestRegressor()
grid_search = GridSearchCV(estimator=random_reg, param_grid=param_grid,
                 cv=5,return_train_score=True)

### Predictions

In [211]:
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(),
             param_grid=[{'bootstrap': [False, True], 'max_features': [2, 4, 6],
                          'n_estimators': [100, 200, 300, 400, 500]}],
             return_train_score=True)

In [212]:
grid_search.best_params_

{'bootstrap': True, 'max_features': 4, 'n_estimators': 300}

### Results

In [213]:
rf_predictions=grid_search.predict(X_test)

In [214]:
res_rf=performance_list("Random Forest Performance", rf_predictions, y_test)

In [215]:
res_rf

,Name,# of inst,Mean,Standard Dev.,FBias,MPE,MAPE,RMSE,MAD,WMAPE
0,Random Forest Performance,189,3999.115276,1937.965615,0.063878,NaN,NaN,44.171517,443.769549,0.110967

# Feature Extraction

In [216]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
estimator = DecisionTreeRegressor(max_depth=3)
estimator.fit(X, y)

In [ ]:
ranger(Consumption~ ., data = ranger_trainx, num.trees = 100, mtry=parameters$.mtry, 
                 importance = "impurity",min.node.size=parameters$.min.node.size, always.split.variables=parameters$always_split[[1]],replace=TRUE,
                 splitrule=splitrule, keep.inbag=TRUE,num.random.splits=5,num.threads=4,max.depth=14)

# Deep Learning Codes