In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

# Data

In [23]:
rossman=pd.read_csv("D:/Datasets/Rossmann_Data/train.csv")

C:\Users\bahad\anaconda3\envs\r-tutorial\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
rossman["Date"]=pd.to_datetime(rossman["Date"])

In [7]:
rossman.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 69.8+ MB

## Dummy Encoding

In [25]:
from sklearn.preprocessing import OneHotEncoder

In [26]:
hot_encoder=OneHotEncoder()

In [37]:
rossman["StateHoliday"].value_counts()

0    986159
a     20260
b      6690
c      4100
Name: StateHoliday, dtype: int64

In [39]:
rossman["StateHoliday"]=rossman["StateHoliday"].astype(str)
encoded_stateholidays=hot_encoder.fit_transform(rossman[["StateHoliday"]])
array_stateholidays=encoded_stateholidays.toarray()
state_df=pd.DataFrame(array_stateholidays,columns=["0", "A", "B", "C"])

In [41]:
state_df.value_counts()

0    A    B    C
1.0  0.0  0.0  0.0    986159
0.0  1.0  0.0  0.0     20260
     0.0  1.0  0.0      6690
          0.0  1.0      4100
dtype: int64

## Concatenated dataframe

In [45]:
frames = [rossman, state_df]
rossman_concat=pd.concat(frames, axis=1)

In [47]:
rossman_concat

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,0,A,B,C
0,1,5,2015-07-31,5263,555,1,1,0,1,1.0,0.0,0.0,0.0
1,2,5,2015-07-31,6064,625,1,1,0,1,1.0,0.0,0.0,0.0
2,3,5,2015-07-31,8314,821,1,1,0,1,1.0,0.0,0.0,0.0
3,4,5,2015-07-31,13995,1498,1,1,0,1,1.0,0.0,0.0,0.0
4,5,5,2015-07-31,4822,559,1,1,0,1,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,0.0,1.0,0.0,0.0
1017205,1112,2,2013-01-01,0,0,0,0,a,1,0.0,1.0,0.0,0.0
1017206,1113,2,2013-01-01,0,0,0,0,a,1,0.0,1.0,0.0,0.0
1017207,1114,2,2013-01-01,0,0,0,0,a,1,0.0,1.0,0.0,0.0
1017208,1115,2,2013-01-01,0,0,0,0,a,1,0.0,1.0,0.0,0.0

# Pipelines

# Performance Function

# Elastic Net

# Support Vector Machines

# Random Forest